Unity/Assets/AssetsAndLibraries/Distributable/XRCEngine/Plugins/Windows/templates/2018.00/C2MS_REQ.AMSG.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Defaults.xsd"/>
	<xs:include schemaLocation="Fields.xsd"/>

	<xs:simpleType name="CONTENT-VERSION_Type">
		<xs:restriction base="xs:float">
			<xs:enumeration value="2018"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="TEXT-TYPE_Type">
        <xs:restriction base="xs:unsignedShort">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:simpleType name="PROD_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AAA"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PROD_Subtype">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSG"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:element name="PROD-SUBTYPE">
        <xs:complexType>
            <xs:all>

                <xs:element name="NAME" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>nth subcategory of the product subtype. (Subject elements ME5, ME6, etc. of the Product Message)</xs:documentation>
					</xs:annotation>
                </xs:element>

            </xs:all>
            <xs:attribute name="INDEX" type="xs:unsignedShort" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="FIELD">
        <xs:complexType>
            <xs:all>

                <xs:element name="NAME" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Name of the message field to match for retrieval from the archive</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="CONTENT" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Contents of the message field used in matching the messages for retrieval from the archive</xs:documentation>
					</xs:annotation>
                </xs:element>

            </xs:all>
            <xs:attribute name="INDEX" type="xs:unsignedShort" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="MSG">
        <xs:complexType>
            <xs:all>

                <xs:element name="TYPE" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Message Type to identify the message to be retrieved from the archive</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="SUBTYPE" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Message Subtype to identify the message to be retrieved from the archive</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="TIME-FIELD-NAME" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Name of field in the message that contains the time to examine. Will default to PUBLISH-TIME in Message Header.</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="TIME-TYPE" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="TIME-TYPE_Type">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="U16"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Indicates the format of the time to examine in the retrieved messages. Defaults to C2MS standard time format.</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="NUM-OF-FIELDS" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:unsignedShort">
                                <xs:attribute name="TYPE" type="FIELD_Type" fixed="U16"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
					<xs:annotation>
						<xs:documentation>Number of message fields to examine and match for retrieval from the archive</xs:documentation>
					</xs:annotation>
                </xs:element>

                <xs:element name="FIELDS" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="FIELD" minOccurs="0" maxOccurs="100"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:all>
            <xs:attribute name="INDEX" type="xs:unsignedShort" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="REQ.AMSG">
        <xs:complexType>
            <xs:all>

                <xs:element name="SUBJECT" type="C2MS_SUBJECT_Type"/>

                <xs:element name="CONTENT">
                    <xs:complexType>
                        <xs:all>

							<xs:element name="CONTENT-VERSION">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="CONTENT-VERSION_Type">
											<xs:attribute name="TYPE" type="FIELD_Type" fixed="F32"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
								<xs:annotation>
									<xs:documentation>Version Number for this message</xs:documentation>
								</xs:annotation>
							</xs:element>

                            <xs:element name="START-TIME">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="TIME_Type">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Requested start time of the messages to be retrieved from the Message Archive</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="STOP-TIME" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="TIME_Type">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Requested stop time of the messages to be retrieved from the Message Archive. Defaults to the end of the Message Archive.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="DELIVER-VIA-REFERENCE" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:boolean">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="BOOLEAN"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Indicates if the data will be referenced by a URI in the single response message. Defaults to No.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="DELIVER-VIA-INCLUDE" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:boolean">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="BOOLEAN"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Indicates if the data is to be included in the single response message. Defaults to Yes.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="PROD-NAME" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Name of the product being requested</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="PROD-DESCRIPTION" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Description of the product in text or xml</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="PROD-TYPE" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="PROD_Type">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Product type being requested. (See Table A-2, Product Categories)</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="PROD-SUBTYPE" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="PROD_Subtype">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Product subtype being requested. (See Table A-2, Product Categories)</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="NUM-OF-PROD-SUBTYPES" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedShort">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="U16"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Number of further delineations / categories beyond the product subtype. Also, used as msg subject elements ME5, ME6, etc. in the Product Message.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="PROD-SUBTYPES" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="PROD-SUBTYPE" minOccurs="0" maxOccurs="100"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="URI" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Location where the requesting component is asking for the product file(s) to be stored. Could be a web address, directory or folder specification</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="NAME-PATTERN" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Describes the name of the output file</xs:documentation>
								</xs:annotation>
                            </xs:element>

                           <xs:element name="DESCRIPTION" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Description of the file in text or xml</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="FORMAT" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Describes the file format</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="VERSION" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Identifies the version of the file</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="SIZE" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:unsignedInt">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="U32"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Maximum size of the file acceptable to the requester. Size specified in KB.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="REQ-STRING" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="STRING"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Specific to the responder / provider of the requested information. The string will define a database query, a script expression, Unix statement, or some other statement for extracting the information from the provider’s repository.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="NUM-OF-MSGS" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="NATURAL_Type">
                                            <xs:attribute name="TYPE" type="FIELD_Type" fixed="U16"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
								<xs:annotation>
									<xs:documentation>Indicates the number of different message type / subtype pairs requested from the Message Archive.</xs:documentation>
								</xs:annotation>
                            </xs:element>

                            <xs:element name="MSGS" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="MSG" minOccurs="0" maxOccurs="100"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:all>
                    </xs:complexType>
                </xs:element>

            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>
